### read file

In [47]:
import pandas as pd

file_path = 'Data/VillageStatistics.xls'
sheet_name = 'VillageStatistics11'  # Adjust based on the actual sheet name

In [48]:
header_rows = pd.read_excel(file_path, sheet_name=sheet_name, header=None, skiprows=3, nrows=3)

# Combine the three rows into a single header row
# Use a space or underscore to join the text in each column
combined_headers = header_rows.apply(lambda x: ' '.join(x.dropna().astype(str)), axis=0)

# Read the data starting from the 6th row (after the headers)
df = pd.read_excel(file_path, sheet_name=sheet_name, header=None, skiprows=6)

# Set the combined headers as the column names
df.columns = combined_headers

# Clean up column names (optional: remove extra spaces, special characters, etc.)
df.columns = df.columns.str.strip().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

# combine Village and District columns to avoid duplicate values in village
df['Village'] = df['Village'] + ' (' + df['District'].str.replace(' ','') + ')'

df = df.fillna(0)

# Save the cleaned data to a new Excel file
output_file = 'Data/cleaned_Village_data.xlsx'
df.to_excel(output_file, index=False)

In [49]:
df

,ID,District,Village,Population_1945_Arabs,Population_1945_Jews,Population_1945_Total,Total_Land_Areas_Dunums_Arabs,Total_Land_Areas_Dunums_Jews,Total_Land_Areas_Dunums_Public,Total_Land_Areas_Dunums_Total,...,Population_1982,Population_1983,Population_1987,Population_1992,Population_1995,Population_1997,Population_2002,Population_2005,Population_2005,Est._Refugees_1998
0,671.0,Acre,Abu Sinan (Acre),820.0,0.0,820.0,12871.0,0.0,172.0,13043.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,521.0,Acre,Acre (Acre),12310.0,50.0,12360.0,1599.0,6.0,444.0,1949.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,549.0,Acre,'Amqa (Acre),1240.0,0.0,1240.0,6060.0,0.0,8.0,6068.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8833.0
3,804.0,Acre,'Arab Ghawarina (Acre),0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,800.0,Acre,'Arab al-Na'im (Acre),0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1316,1685.0,Tulkarm,Wadi Qabbani (Tulkarm),320.0,0.0,320.0,427.0,9276.0,109.0,9812.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2282.0
1317,1909.0,Tulkarm,Yedidya (Tulkarm),0.0,200.0,220.0,0.0,2525.0,176.0,2701.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1318,1322.0,Tulkarm,"al-Zababida, Khirbat (Tulkarm)",0.0,0.0,0.0,4626.0,4884.0,1369.0,10879.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,580.0
1319,1350.0,Tulkarm,"Zalafa, Khirbat (includes Kh. Birkat Ghaziya) ...",210.0,0.0,210.0,6865.0,617.0,231.0,7713.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1496.0
1320,2085.0,Tulkarm,Zayta (Tulkarm),1780.0,0.0,1780.0,6364.0,0.0,46.0,6410.0,...,0.0,0.0,2200.0,0.0,0.0,2346.0,0.0,3052.0,3231.0,0.0